<div class="container card">
    <form [formGroup]="formularioEditarGastos" (ngSubmit)="guardarGasto()">
        <div class="formGroup">
            <label for="fecha"><strong>Fecha</strong></label>
            <input type="text" class="form-control" id="fecha" formControlName="fecha" [max]="dia | date:'yyyy-MM-dd'">
        </div><br>
        <div class="formGroup">

            <label for="nombre_restaurante"><strong>Nombre del restaurante</strong></label>
            <select name="nombre_restaurante" class="form-control" formControlName="nombre_restaurante" [(ngModel)]="selectRestaurante">
                    <option *ngFor="let restaurante of restaurantes" [value]="restaurante.id">{{restaurante.nombre}}</option>
            </select>
        </div><br>
        <div class="formGroup">
            <label for="nombre_proveedor"><strong>Nombre del proveedor</strong></label>
            <select name="nombre_proveedor" class="form-control" formControlName="nombre_proveedor" [(ngModel)]="selectProveedor">
                <option *ngFor=" let proveedor of proveedores" [value]="proveedor.id" >{{proveedor.nombre}}</option>
            </select>
        </div><br>
        <div class="formGroup">
            <label for="cantidad"><strong>Cantidad</strong></label>
            <input type="number" class="form-control" id="cantidad" formControlName="cantidad" min="1" pattern="^[0-9]+">
        </div><br>
        <button type="button" class="btn btn-block" (click)="habilitar()">Editar</button>
        <button *ngIf="editando" type="submit" class="btn btn-block">Guardar</button>
        <button *ngIf="!editando" type="button" class="btn btn-block" (click)="borrar()">Borrar</button>
    </form>
</div>