<app-menu (buscarEvent)="buscar($event)" [mostrarBuscador]="true"></app-menu>
<button class="btn mr-sm-2" type="button" id="info" (click)="info()"><img src="assets/img/question.png" alt="info"></button>
<app-ok-message *ngIf="informacion" [message]="message"></app-ok-message>
<h1 class="titulo">Listado de facturas</h1>

<div *ngFor="let factura of listaFactura" class="card bg-light" style="width: 18rem;">
    <h5 class="card-header"><strong>Número de la factura: {{ factura.numeroFactura }}</strong></h5>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><strong>Fecha: </strong>{{factura.fecha |date: 'dd-MM-yyyy'}}</h6>
        <hr>
        <p class="card-text"><strong>Concepto: </strong>{{factura.concepto}}</p>
        <p class="card-text"><strong>Nombre del restaurante: </strong>{{factura.nombreRestaurante}}</p>
        <p class="card-text"><strong>Nombre del cliente: </strong>{{factura.nombreCliente}}</p>
        <p class="card-text"><strong>Total Factura: {{ factura.totalFactura}} </strong></p>
        <hr>
        <button class="btn btn-block" type="button" (click)="crearPdf(factura.numeroFactura)">Crear PDF</button>
    </div>
</div>
<h2 *ngIf="mostrarMensaje" class="titulo">No hay ingresos creados</h2>
<h2 *ngIf="errorBusqueda">Lo sentimos no hay ninguna factura que coincida con los datos introducidos</h2>
<br><br>
<app-footer></app-footer>