.card {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: top;
}

button {
    background-color: rgb(54, 161, 161);
    color: white;
}