.rowCalendar {
    margin-top: 50px;
}
.rowCalendar h1{
    margin-bottom: 25px;
    margin-left: 50px;
}
.filaGrafica{
    padding: 30px;
}
.grafica{
    margin-top: 20px;
}
.calendar{
    margin: 50px auto;
    width: 800px;
    text-align: center;
  
}

#chartdiv {
    height: 300px;
    text-align: center;
}

button{
    background-color: rgb(54, 161, 161);  
}
.atras{
    margin-left: 200px;
    margin-right: 600px;
}
a{
    color:black;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color:white;
    background-color:rgb(54, 161, 161);
}
.mensaje{
    margin-top: -300px;
    margin-left: 290px;
}
h1{
    margin-left: 300px;
}