<div class="container row">
    <div class="col-9 grafica">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="tab1" class="nav-link active" href="#" (click)="cambiaTab(1)">Total</a>
            </li>
            <li class="nav-item">
                <a id="tab3" class="nav-link" href="#" (click)="cambiaTab(3)">Anual</a>
            </li>
            <li class="nav-item">
                <a id="tab2" class="nav-link" href="#" (click)="cambiaTab(2)">Mensual</a>
            </li>
        </ul>


        <div class="grafica  ">
            <h1>{{ title }}
                <p *ngIf="tab==3">en el año: {{year}}</p>
                <p *ngIf="tab==2">en el mes: {{ month+'/10/2019' | date:'MMMM'}}</p>
            </h1>
            <div *ngIf="tab!=1">
                <p> <strong> Elige el restaurante </strong></p>
                <form [formGroup]="formularioRestaurante">
                    <div class="form-group">
                        <label for="nombreRestaurante">Nombre del restaurante &nbsp;</label>
                        <select name="nombreRestaurante" formControlName="nombreRestaurante" (change)="changeRes()">
                            <option *ngFor="let restaurante of listaRes" class="form-control"
                                [value]="restaurante.id">
                                {{restaurante.nombre}}
                            </option>
                        </select>
                    </div>
                    <button type="button" class="btn" id="cambiar" (click)="cambiarGrafica()">Cambiar</button>
                </form>
            </div>
            <button *ngIf="tab!=1" class="btn atras" (click)="numeroMenos(tab)">&lt;</button>
            <button *ngIf="tab!=1" class="btn adelante" (click)="numeroMas(tab)">&gt;</button>
            <div id="chartdiv">

            </div>
            <div *ngIf="isCeroTodo" class="mensaje">
                <h1>Lo sentimos no tiene datos</h1>
            </div>
        </div>

    </div>
    <div class="col-3 calmax">
        <div class="calendario">
            <hr>
            <h1>Facturas creadas por mes</h1>
            <button type="button" class="btn " (click)="FacturaMes()">Ver facturas del mes</button>
            <br>
            <p-calendar [(ngModel)]="value" [inline]="true" (onMonthChange)="onMonthChange($event)" [monthNavigator]="true" dateFormat="mm/yy"><span>&gt</span><span>&lt</span></p-calendar>
        </div>
    </div>
</div>
<div class="container row">

    <div class="col-12 ">
        <hr>
        <h1 *ngIf="mostrarMessage" id="facturasVacias">No hay facturas en el mes de :&nbsp; {{ mes+'/10/2019' | date:'MMMM'}}</h1>
        <div *ngIf="mostrar">
            <div *ngFor="let factura of listaFac" class="card bg-light facturas" style="width: 18rem;">
                <h1 *ngIf="mostar">Facturas creadas en el mes: {{ mes+'/10/2019' | date:'MMMM'}}</h1>
                <h5 class="card-header"><strong>Número de la factura: {{ factura.numeroFactura }}</strong></h5>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted"><strong>Fecha: </strong>{{factura.fecha |date: 'dd-MM-yyyy'}}</h6>
                    <hr>
                    <p class="card-text"><strong>Concepto: </strong>{{factura.concepto}}</p>
                    <p class="card-text"><strong>Nombre del restaurante: </strong>{{factura.nombreRestaurante}}</p>
                    <p class="card-text"><strong>Nombre del cliente: </strong>{{factura.nombreCliente}}</p>
                    <p class="card-text"><strong>Total Factura: {{ factura.totalFactura}} </strong></p>
                </div>
            </div>
        </div>
    </div>
</div>