button {
    background-color: rgb(54, 161, 161);
    color: white;
    margin-bottom: 10px;
}

a {
    color: black;
}

a:hover {
    color: rgb(54, 161, 161);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: white;
    background-color: rgb(54, 161, 161);
}

.grafica {
    margin-top: 50px;
    margin-left: -100px;
}

#chartdiv {
    margin-top: 50px;
    height: 350px;
}

.atras {
    margin-left: 200px;
}

.adelante {
    margin-left: 400px;
}

#cambiar {
    margin-left: 700px;
}

.calendario {
    width: 850px;
    margin-left: 50px;
}

.calendario h1 {
    font-size: 22px;
}