<div class="container card">
        <form [formGroup]="formularioListaCliente" (ngSubmit)="guardarCli()">
            <div class="formGroup">
                <label for="nombre"><strong>Nombre del cliente</strong></label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre"  maxlength="40" pattern="(?=.*[A-Z]).{40}" title="introduce solo letras">
            </div><br>
            <div class="formGroup">
                <label for="email"><strong>Correo electrónico</strong></label>
                <input type="email" class="form-control" id="email" formControlName="email" title="introduce una direccion de correo valida">
            </div><br>
            <div class="formGroup">
                <label for="cif"><strong>CIF </strong></label>
                <input type="text" class="form-control" id="cif" formControlName="cif" maxlength="9" pattern="(?=.*[A-Z]).{1}(?=.*\d).{7}(?=.*[A-Z]).{1}" title="debe contener dos letras mayusculas con el siguiente formato D1111111D sin guion entre medias">
            </div><br>
            <div class="formGroup">
                <label for="direccion"><strong>Direeción</strong></label>
                <input type="text" class="form-control" id="direccion" formControlName="direccion" maxlength="40">
            </div><br>
            <div class="formGroup">
                <label for="cp"><strong>Código Postal</strong></label>
                <input type="text" class="form-control" id="cp" formControlName="cp" maxlength="5"  pattern="(?=.*\d).{5}" title="introduce un formato correcto  00000">
            </div><br>
            <button *ngIf="!editando" type="button"  class="btn btn-block" (click)="habilitar()">Editar</button>
            <button *ngIf="editando" type="submit" class="btn btn-block">Guardar</button>
        </form>
    </div>