/* You can add global styles to this file, and also import other style files */

body {
    background: white;
    font-family: 'Dosis', sans-serif;
}

.container {
    padding: 3rem;
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    font-family: 'Muli';
}

button {
    color: white;
}

.form-control:focus {
    box-shadow: rgb(54, 161, 161) !important;
    outline: 0 !important;
    border-color: rgb(54, 161, 161) !important;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: rgb(54, 161, 161);
    font-size: 20px;
    border: 1px solid rgb(54, 161, 161);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    text: "aceptar";
}

.swal-overlay {
    background-color: rgba(54, 161, 161, 0.2);
}

button#info {
    margin-left: 95%;
    width: 25;
    height: 25px;
    background-color: rgb(54, 161, 161);
    border: 1px solid rgb(54, 161, 161);
}

button#info img {
    margin-top: -20px;
    width: 15px;
    height: 15px;
}

.container {
    width: 100%;
}

.titulo {
    margin-left: 20px;
    margin-top: 10px;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid rgb(54, 161, 161);
}

p {
    margin-left: 20px;
}

.card-group {
    padding: 5px;
    margin: 0 auto;
    width: 60%;
}

.card {
    margin-left: 20px;
}