<div class="container card">
    <form [formGroup]="formModRestaurante" (ngSubmit)="guardarRest()">
        <div class="formGroup">
            <label for="nombre"> <strong> Nombre del restaurante</strong></label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" maxlength="40" pattern="(?=.*[A-Z]).{40}" title="introduce solo letras">
        </div><br>
        <div class="formGroup">
            <label for="direccion"><strong>Dirección</strong></label>
            <input type="text" class="form-control" id="direccion" formControlName="direccion"  maxlength="40">
        </div><br>
        <div class="formGroup">
            <label for="telefono"><strong>Telefóno</strong></label>
            <input type="text" class="form-control" id="telefono" formControlName="telefono" maxlength="9" pattern="(?=.*\d).{9}" title="introduce solo caracteres numericos">
        </div><br>
        <div class="formGroup">
            <label for="cif"><strong>CIF</strong></label>
            <input type="text" class="form-control" id="cif" formControlName="cif"  maxlength="9" pattern="(?=.*[A-Z]).{1}(?=.*\d).{7}(?=.*[A-Z]).{1}" title="debe contener dos letras mayusculas con el siguiente formato D1111111D sin guion entre medias">
        </div><br>
        <div class="formGroup">
            <label for="cp"><strong>Código Postal</strong></label>
            <input type="text" class="form-control" id="cp" formControlName="cp" maxlength="5"  pattern="(?=.*\d).{5}" title="introduce un formato correcto  00000">
        </div><br>
        <div class="formGroup">
            <label for="nombreFiscal"><strong>Nombre Físcal</strong> </label>
            <input type="text" class="form-control" id="nombreFiscal" formControlName="nombreFiscal" maxlength="40" pattern="(?=.*[A-Z]).{40}" title="introduce solo letras">
        </div><br>
        <button *ngIf="!editing" type="button" class="btn  btn-block" (click)="enableForm()">Editar</button>
        <button *ngIf="editing" type="submit" class="btn btn-block">Guardar</button>
    </form>
</div>